__pycache__/
.ipynb_checkpoints
python/*_test.ipynb

datasets/cifar-10-py/*
datasets/cifar-10-matlab/*
datasets/cifar-10-binary/*
datasets/mnist-digits/*
datasets/ADAM/*
!datasets/mnist-digits/download_mnist.sh
!datasets/cifar-10-binary/download_cifar10_bin.sh
!datasets/*/transform.*

libtorch/libtorch-pre-cxx11
libtorch/libtorch-cxx11

*.asv
*.o
*.out
*/build/
cpp_old/
.vscode
*.png
*.jpg
*.pt
*.bkp
*.svg

!paper/*.png